@{
  Layout = "_Layout";
}

<div class="container">
  <h1>edit ingredient</h1>
    <a href="/menuItemIngredients/new">new ingredients</a>
    <a href="/menuItemIngredients/{id}">show ingredients</a>
    <a href="/menuItemIngredients/{id}/edit">edit ingredients   <i class="fas fa-edit"></i></a>
</div>
