@{
  Layout = "_Layout";
}

<div class="container">
  <h1>edit ingredient</h1>
    <a href="/ingredients/new">new ingredients</a>
    <a href="/ingredients/{id}">show ingredients</a>
    <a href="/ingredients/{id}/edit">edit ingredients</a>
</div>