@{
  Layout = "_Layout";
}

<div class="container">
  <h1>INGREDIENTS LIST</h1>
    <a href="/menuItemIngredients/new">new ingredients</a>
    <a href="/menuItemIngredients/{id}">show ingredients</a>
    <a href="/menuItemIngredients/{id}/edit">edit ingredients</a>
</div>