@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["menuItemIngredient"].GetIngredientDescription()</h2></h1>
<br>
<a href="/menuItemIngredients/@Model["menuItemIngredient"].GetId()/edit">EDIT</a>
<hr>

<br>

<h3>Dish: @Model["menuItem"].GetMenuItemDescription()</h3>
<br>
<h3>Store: @Model["store"].GetStoreName()</h3>
<br>

<hr>
<br>
<div class="container">
  <a href="/menuItemIngredients">Return to Food Items</a>
</div>
