@{
  Layout = "_Layout";
}

<h1 id="pageTitle">UPDATE MENU<h2>@Model["menu"].GetMenuTheme()</h2></h1>
<br>

<form action="/menus/@Model["menu"].GetId()/edit" method="post">
  <label for="menuTheme">Menu Theme:</label>
  <input type="text" name="menuTheme" value="@Model["menu"].GetMenuTheme()" required>
  <button type="submit">Update</button>
</form>

<hr>
<br>
<div class="container">
  <br>
  <a href="/menus/@Model["menu"].GetId()">Return to @Model["menu"].GetMenuTheme()</a>
</div>
