@{
  Layout = "_Layout";
}

<h1 id="pageTitle">MENU</h1>
<hr>

<form action="/menus/new" method="post">

  <label for="menuTheme">Theme:</label>
  <input id="menuTheme" name="menuTheme" type="text" required>
  <br>
  <br>

  <button type="submit">Submit</button>
</form>
<br>

<hr>
<br>
<div class="container">
  <a href="/menus">back to menus</a>
</div>
