@{
  Layout = "_Layout";
}

<h1 id="pageTitle">ADD NEW MENU</h1>

<form action="/menus/new" method="post">
  <label for="menuTheme">Menu Theme:</label>
  <input id="menuTheme" name="menuTheme" type="text" required>
  <br>
  <br>

  <button type="submit">Add New Menu</button>
</form>
<br>
<br>

<hr>
<br>
<div class="container">
  <a href="/menus">Return to Menus</a>
</div>
