@{
  Layout = "_Layout";
}

<div class="container">
  <h1>new menu</h1>
    <a href="/menus/new">new menus</a>
    <a href="/menus/{id}">show menus</a>
    <a href="/menus/{id}/edit">edit menus</a>
</div>