@{
  Layout = "_Layout";
}

<h1 id="pageTitle">EDIT<h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>

<form action="/events/@Model["selectedEvent"].GetId()" method="post">
  <label for="newEventName">Name:</label>
  <input type="text" name="newEventName" value="@Model["selectedEvent"].GetEventName()" required>
  <button type="submit">Update</button>
</form>


<hr>
<br>
<div class="container">
  <a href="/events/new">new event</a>
  <br>
  <a href="/events/{id}">show event</a>
</div>