@{
  Layout = "_Layout";
}

<div class="container">
  <h1>EVENTS LIST</h1>
  <a href="/events/new">new event</a>
  <a href="/events/{id}">show event</a>
  <a href="/events/{id}/edit">edit event</a>
</div>

