@{
  Layout = "_Layout";
}

<h1 id="pageTitle">NEW EVENT</h1>
<hr>

<form action="/events" method="post">
  <label for="eventName">Event Title:</label>
  <input id="eventName" name="eventName" type="text" required>
  <button type="submit">Submit</button>
</form>
<br>

<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>