@{
  Layout = "_Layout";
}

<h1 id="pageTitle">NEW EVENT</h1>
<hr>

<form action="/events" method="post">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text" required>
  <br>
  <label for="eventDate">Date:</label>
  <div class="well">
    <div id="datetimepicker" class="input-append">
      <input data-format="MM/dd/yyyy HH:mm:ss PP"id="eventDate" name="eventDate" type="text" required>
      <span class="add-on">
        <i data-date-icon="fas fa-calendar-alt" date-time-icon="fas fa-clock"></i>
      </span>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $(#datetimepicker').datetimepicker({
        language: 'en',
        pick12HourFormat: true
      });
    });
  </script>
  <br>
  <label for="eventLocation">Location:</label>
  <input id="eventLocation" name="eventLocation" type="text" required>
  <br>
  <label for="menuId">Menu SELECT DROPDOWN:</label>
  <input id="menuId" name="menuId" type="text" required>
  </div>

  <br>

  <button type="submit">Submit</button>
</form>
<br>

<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>
