@{
  Layout = "_Layout";
}

<h1 id="pageTitle">NEW EVENT</h1>
<hr>

<form action="/events" method="post">

  <label for="name">Name:</label>
  <input id="name" name="name" type="text" required>
  <br>
  <label for="eventDate">Date <i class="fas fa-calendar-alt"></i></label>
  <input id="eventDate" name="eventDate" type="datetime" required>
  <br>
  <label for="eventLocation">Location <i class="fas fa-map-marker-alt"></i></label>
  <input id="eventLocation" name="eventLocation" type="text" required>
  <br>
  <label for="menuId">Menu SELECT DROPDOWN:</label>
  <input id="menuId" name="menuId" type="text" required>
  </div>

  <br>

  <button type="submit">Submit</button>
</form>
<br>

<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>
