@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["selectedEvent"].GetEventName()</h2></h1>
<br>
<a href="/events/{id}/edit">EDIT</a>
<hr>

<br>
DATE
<br>
LOCATION
<br>
MENU
<br>
TASKS SECTION
<br>
INVITES SECTION
<br>


<hr>
<br>
<div class="container">
  <a href="/events">back to events</a>
</div>