@{
  Layout = "_Layout";
}

<div class="container">
  <h1>INVITES LIST</h1>
   <a href="/invites/new">new invite</a>
  <a href="/invites/{id}">show invite</a>
  <a href="/invites/{id}/edit">edit invite</a>
</div>