@{
  Layout = "_Layout";
}

<div class="container">
  <h1>new invite</h1>
    <a href="/invitees/new">new ingredients</a>
    <a href="/invitees/{id}">show ingredients</a>
    <a href="/invitees/{id}/edit">edit ingredients</a>
</div>