@{
  Layout = "_Layout";

}

<div class="container">
  <h1>show invite</h1>
   <a href="/invitees/new">new invite</a>
  <a href="/invitees/{id}">show invite</a>
  <a href="/invitees/{id}/edit">edit invite</a>
</div>