@{
  Layout = "_Layout";
}

<h1 id="pageTitle">EDIT<h2>@Model["stores"].GetStoreName()</h2></h1>
<br>

<form action="/stores/@Model["stores"].GetId()/edit" method="post">

  <label for="storeName">Name:</label>
  <input type="text" name="storeName" value="@Model["stores"].GetStoreName()" required>

  <button type="submit">Update</button>
</form>

<hr>
<br>
<div class="container">
  <br>
  <a href="/events/@Model["stores"].GetId()">Back to @Model["stores"].GetStoreName()</a>
</div>
