@{
  Layout = "_Layout";
}

<div class="container">
  <h1>stores edit</h1>
    <a href="/stores/new">new stores</a>
    <a href="/stores/{id}">show stores</a>
    <a href="/stores/{id}/edit">edit stores</a>
</div>