@{
  Layout = "_Layout";
}

<h1 id="pageTitle">NEW STORE</h1>
<hr>

<form action="/stores/new" method="post">

  <label for="storeName">Name:</label>
  <input id="storeName" name="storeName" type="text" required>

  <br>

  <button type="submit">Add New Store</button>
</form>
<br>
<br>

<hr>
<br>
<div class="container">
  <a href="/stores">Return to Stores</a>
</div>
