@{
  Layout = "_Layout";
}

<h1 id="pageTitle"><h2>@Model["stores"].GetStoreName()</h2></h1>
<br>
<a href="/stores/@Model["stores"].GetId()/edit">EDIT DETAILS</a>
<hr>

<br>

<hr>
<br>
<div class="container">
  <a href="/stores">Return to Stores</a>
</div>
