@{
  Layout = "_Layout";
}

<div class="container">
  <h1>edit dish</h1>
     <a href="/dishes/new">new dishes</a>
    <a href="/dishes/{id}">show dishes</a>
    <a href="/dishes/{id}/edit">edit dishes</a>
</div>