@{
  Layout = "_Layout";
}


<h1 id="pageTitle">DISHES</h1>
<br>

  @if (Model.Count != 0)
{
    @foreach (var menuItems in Model)
    {
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href='/dishes/@menuItems.GetId()'>@menuItems.GetMenuItemDescription()</a></li>
        <li class="list-group-item"><a href="/dishes/@menuItems.GetId()/edit">EDIT  <i class="fas fa-edit"></i></a></li>
        <li class="list-group-item"><a href='/dishes/@menuItems.GetId()/delete'><i class="far fa-times-circle"></i></a></li>
      </ul>
    }
}


  <hr>
  <br>
  <div class="container">
  <a href="/dishes/new">new dish</a>
   <br>
  </div>
