@{
  Layout = "_Layout";
}

<div class="container">
  <h1>show dish</h1>
     <a href="/menuItems/new">new dishes</a>
    <a href="/menuItems/{id}">show dishes</a>
    <a href="/menuItems/{id}/edit">edit dishes</a>
</div>