@{
  Layout = "_Layout";
}

<div class="container">
  <h1>tasks edit</h1>
    <a href="/tasks/new">new tasks</a>
    <a href="/tasks/{id}">show tasks</a>
    <a href="/tasks/{id}/edit">edit tasks <i class="fas fa-edit"></i></a>
</div>
