@{
  Layout = "_Layout";
}

<h1 id="pageTitle">TASKS</h1>
<br>

  @if (Model.Count != 0)
{
    @foreach (var tasks in Model)
    {
      <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><a href='/tasks/@tasks.GetId()'>@tasks.GetTaskDescription()</a></li>
        <li class="list-group-item"><a href="/tasks/@tasks.GetId()/edit">EDIT  <i class="fas fa-edit"></i></a></li>
        <li class="list-group-item"><a href='/tasks/@tasks.GetId()/delete'><i class="far fa-times-circle"></i></a></li>
      </ul>
    }
}


  <hr>
  <br>
  <div class="container">
  <a href="/tasks/new">new task</a>
   <br>
  </div>
