@{
  Layout = "_Layout";
}

<h1 id="pageTitle">ADD NEW TASK</h1>
<hr>

<form action="/tasks/new" method="post">
  <label for="taskDescription">Description:</label>
  <input id="taskDescription" name="taskDescription" type="text" required>
  <br>
  <label for="taskPlannedStartDateTime">Planned Start Date/Time:</label>
  <input id="taskPlannedStartDateTime" name="taskPlannedStartDateTime" class="form-control" type="datetime-local" required>
  <br>
  <br>

  <button type="submit">Add New Task</button>
</form>
<br>
<br>

<hr>
<br>
<div class="container">
  <a href="/tasks">Return to Tasks</a>
</div>
