@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy|Roboto');


div#footer {
    position:fixed;
    text-align: right;
    bottom:0px;
    left:0px;
    width:100%;
    color:rgb(226, 226, 226);
    background:rgb(226, 226, 226);
    padding:8px;
    padding-right: 3%;
}

svg.fa- {
    width: 50px;
    height: 50px;
}


.wrapper {
    display: flex;
<<<<<<< HEAD
    width: 100%
    align-items: stretch;
=======
    width: 100%;
>>>>>>> master
}

.far {
    text-align: right;
}


#sidebar {
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #303030;
    color: #fff;
    transition: all 0.3s;
}

#content {
    width: calc(100% - 100px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color: beige;
}

#pageTitle {
    font-size: 30px;
}

.navbar-default {
    box-shadow: 0px 4px 6px #CDCDCD;
    background-color: beige;
}

.navbar-header {
    margin: 2%;
}

#main-content {
    padding: 0px 40px 0px 40px;
}

#content.active {
    width: 100%;
}

#sidebar.active {
    margin-left: -100px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

body {
    font-family: 'Luckiest Guy', cursive;
    background: #fafafa;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #303030;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
    text-align: center;
}

#sidebar ul p {
    color: rgb(194, 194, 194);
    padding: 10px;
    text-align: center;

}

#sidebar ul li a {
    padding: 10px;
    /* font-size: 1.1em; */
    display: block;
    text-align: center;
}

#sidebar ul li a:hover {
    color: rgb(216, 216, 216);
}



#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: rgb(37, 207, 128);
}




ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    text-align: center;
}


#closeNav {
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    width: 15px;
    background-color: transparent;
    border: none;
    text-align: right;
}

#logo {
    font-size: 45px;
}

#sidebarCollapse {
    background-color: transparent;
    border: none;
    text-align: left;
}

.fa-utensils, .fa-check, .fa-at, .fa-shopping-cart, .fa-seedling, .fa-plus {
  font-size: 3rem;
}

.fa-plus {
  color: #3da599;
}

.fa-book-open {
  font-size: 30px;
  color: #c41e3d;
}

.fa-utensils {
  color: #da394a;
}

.fa-check {
  color: #ffc857;
}

.fa-at {
  color: #ef798a;
}

.fa-shopping-cart {
  color: #ea8c55;
}

.fa-seedling {
  color: #ff696d;
}

#closeNav {
    background-color: transparent;
    border: none;
    padding-left: 43%;
    font-size: 2rem;
}

/* .fas-fa-times {
    background-color: transparent;
    border: none;
    text-align: center;
    padding: 50%;
} */

/* .svg-inline--fa {
    height: 3%;
} */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #content {
        width: 100%;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
<<<<<<< HEAD
=======



/* a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} */
>>>>>>> master
